@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
@import url(./bottomCreateNote.css);

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(130deg, #ff7a18, #af002d 41.07%, #319197 76.05%);
}

header {
  font-size: 52px;
  text-align: center;
  padding-top: 1rem;
  font-family: "Press Start 2P", cursive;
}

footer {
  padding: 1em;
  font-size: 14px;
  margin-top: auto;
  text-align: center;
  font-family: "Press Start 2P", cursive;
}

main {
  height: 840px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

/* Content section and div */

section {
  height: 768px;
  max-width: 1026px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10rem;
}

.box1 {
  width: 420px;
  height: 520px;
  background: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  border: 2px solid rgba(255, 255, 255, 0.6);
  border-radius: 10px;
  padding: 10px;
}

.box2 {
  font-family: "Roboto Mono", cursive;
  width: 400px;
  height: 750px;
  background: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  border: 2px solid rgba(255, 255, 255, 0.6);
  border-radius: 10px;
}

/* Design responsive*/
@media (max-width: 975px) {
  section {
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
  }

  .box1 {
    justify-self: center;
    width: 350px;
    height: 350px;
  }

  .box2 {
    width: 350px;
    height: 410px;
  }
}

/* Form of title, date, textNote*/
input:first-child {
  font-size: 20px;
  width: 100%;
  padding-top: 1rem;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-bottom: 2px solid #ffffffc8;
  color: azure;
  font-family: "Roboto Mono", cursive;
  outline: none;
}

input[type="text"]::placeholder {
  background-color: rgba(255, 255, 255, 0);
  color: rgb(240, 255, 255);
  font-size: 25px;
  font-family: "Roboto Mono", cursive;
  letter-spacing: 3px;
  text-indent: 4px;
}

/* nowDate */

.nowDate {
  font-family: "Roboto Mono", cursive;
  margin: 6px 0px 0px 2px;
  font-size: 14px;
  text-transform: capitalize;
  color: rgb(240, 255, 255);
  text-indent: 5px;
}

/* This is textarea of readNote */
#writenote {
  font-family: "Roboto Mono", cursive;
  margin-top: 7px;
  resize: none;
  height: 371px;
  width: 100%;
  border-radius: 8px 8px 8px 8px;
  border: 2px solid rgba(255, 255, 255, 0.6);
  background-color: rgba(50, 12, 12, 0.15);
  color: white;
  font-size: 16px;
  outline: none;
}

#writenote::placeholder {
  font-size: 18px;
  color: white;
  font-family: "Roboto Mono", cursive;
  letter-spacing: 1px;
}

/* writenote design responsive */

@media (max-width: 975px) {
  #writenote {
    height: 200px;
  }
}

/* Scrool of writenote */
#writenote::-webkit-scrollbar-track {
  border: 5px solid rgba(255, 255, 255, 0.1);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

#writenote::-webkit-scrollbar {
  width: 12px;
  background-color: #ffffff1a;
}

#writenote::-webkit-scrollbar-thumb {
  background-color: rgb(217, 213, 213, 0.6);
  border-radius: 10px;
}

/* Bottom save tittle, nowDate, textNote */

.btnSave {
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px 10px 10px 10px;
  border: 2px solid #ffffff66;
}

.btnSave img {
  width: 40px;
  height: 40px;
  padding: 3px 0px 1px 0px;
}

.btnSave:hover {
  background: rgba(255, 255, 255, 0.3);
  cursor: pointer;
}

/* show tittle box 2*/

.title {
  text-align: center;
}

/* text-content | information of form */

.text-content {
  display: flex;
  background: rgba(255, 255, 255, 0);
  border: 3px groove rgba(255, 255, 255, 0.6);
  border-radius: 10px;
  position: relative;
  left: 20px;
  width: 90%;
  height: 664px;
  resize: none;
  outline: none;
  overflow: auto;
  justify-content: center;
  bottom: 8px;
}

/* Scrool of text-content */
.text-content::-webkit-scrollbar-track {
  border: 5px solid rgba(255, 255, 255, 0.1);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

.text-content::-webkit-scrollbar {
  width: 12px;
  background-color: #ffffff1a;
}

.text-content::-webkit-scrollbar-thumb {
  background-color: rgb(217, 213, 213, 0.6);
  border-radius: 10px;
}

/* media query text-content responsive design */
@media (max-width: 975px) {
  .text-content {
    width: 90%;
    height: 325px;
    bottom: 12px;
  }
}
